
body {
    font-family: 'Courier New', Courier, monospace;
    color: darkblue;
    font-size: 20px;
}

a {font-family: 'Courier New', Courier, monospace;
    color: darkblue;
    font-size: 20px;
}
